.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__fieldset {
  border-style: none;
  margin: 0px;
  padding: 0px;
}
.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
}
.form__input {
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  width: 385px;
  height: 60px;
  margin-bottom: 32px;
  margin-top: 8px;
  padding: 0px 15px;
  box-sizing: border-box;
  border: 1px solid #838383;
}
.form__button {
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  opacity: 100%;
  width: 385px;
  height: 60px;
  margin-bottom: 32px;
  border: none;
  background-color: #2f80ed;
  color: #fff;
  cursor: pointer;
}
.form__button:hover {
  opacity: 70%;
  transition: opacity 1s linear 0s;
}
.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}
.form__checkbox-section {
  padding-bottom: 120px;
  display: flex;
  justify-content: space-around;
}
