.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}
.header__title {
  margin-top: 202px;
  margin-left: 80px;
  margin-bottom: 28px;
  max-width: 729px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}
.header__span-accent {
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  display: block;
}
.header__description {
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.header__image {
  max-width: 646px;
  max-height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}
.header__footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 0 80px;
  position: absolute;
  bottom: 40px;
}
.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin: 0;
}
