.menu {
  background-color: #0a2750;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.menu__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  max-width: 780px;
  margin: 0px auto 24px;
  padding-top: 100px;
  text-align: center;
}
.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  max-width: 780px;
  margin: 0px auto 100px;
  text-align: center;
}
.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  list-style: none;
  padding-bottom: 100px;
}
